		  <footer>
			<div>
			  CST336 Internet Programming. 2021&copy; Deelane
			  <strong>Disclaimer:</strong> The information in this webpage is fictitious.
			  It is used for academic purposes only.
			</div>
		  </footer>
		</div>
	</body>
</html>