<%-include("partials/header.ejs")%>
<body>
  <main>
    <h1>Cool Images </h1>
    <form action="/search">
      <input class="col-8" type="text" placeholder="Enter keyword" name="keyword"/>
      <br>
      <button class="btn-primary btn-lg col-8">Search</button>
    </form>
  </main>
</body>
<%-include("partials/footer.ejs")%>
<script src="/js/onload.js"></script>
