    <footer>
      <div class="container-fluid m-3 text-center">
        CST336 Internet Programming. 2021&copy; Deelane, abeebe-csumb, m-arain
        <br>
        <strong>Disclaimer:</strong> The information in this webpage is fictitious.
        It is used for academic purposes only.
      </div>
    </footer>
  </body>
</html>
