<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Trip Planner</title>
    <link rel="icon" type="image/png" href="/img/csumb_favicon.png"/>
    <!--CSS-->
    <link rel="stylesheet" href = "/css/styles.css"/>
    <!--jQuery-->
    <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous">3
    </script>
    <script src="/js/functions.js"></script>
</head>

<nav class="navbar navbar-expand-md bg-light navbar-light fixed-top" aria-label="Fourth navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/destinations">Destinations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/recent">Recent Trips</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
