@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");
article
{
  margin-left: 20%;
  margin-right: 20%;
  border: solid 1px black;
}
.flex-down
{
  display: flex;
  flex-direction: column;
}
article>*
{
  text-align: left;
}