<!--Header-->
<%- include("partials/header.ejs") %>

<!-------Body Start------->
<div id="errorDiv" class="contentCentered bordered">
    <h1>Something went wrong!</h1>
    <p><%=errorMessage%></p>
</div>
<!-------Body End------->

<!--Footer-->
<%- include("partials/footer.ejs") %>

<!--Local Scripts-->
