<div id="wrapper">
<%- include("partials/header.ejs")%>
    <main>
        <br>
        <h2>Community</h2>
        <br>
        <p>
            The AngularJS subreddit on Reddit is a great starting place to discuss AngularJS and ask for help.
            The subreddit currently has 55,100 active users who contribute to the community daily by submitting news articles and links to videos.
        </p>
        <a href="http://reddit.com/r/angularjs">Reddit AngularJS</a>
        <img style="display: block;" src="/img/reddit_logo_small.png" alt="reddit logo"/>
    </main>
<%- include("partials/footer.ejs")%>
</div>
