<div id="wrapper">
<%- include("partials/header.ejs")%>
    <main>
        <br>
        <h2>Examples</h2>
        <br>
        <p>
            AngularJS is commonly used to create single page apps (SPAs), which are web applications that function off of a single page.
            A good example of an SPA is <a href="https://www.usatoday.com/">USA Today's website</a>. A quick element inspection shows all of the directives that are defined in divs. The developer console does give access to a .js file as well. However, it is condensed and difficult to read.
        </p>
        <p>
            Upon clicking almost anywhere in the site, you can immediately appreciate the quick loading aspects of the page. No page reloads are being done and the user experience is very good. Even though the website is slightly cluttered with a small header, the page transitions are smooth.
        </p>
        <a href="https://www.usatoday.com/">USA Today</a>
        <img style="display: block;" src="/img/usatoday_logo_small.png" alt="usa today logo"/>
    </main>
<%- include("partials/footer.ejs")%>
</div>
