<div id="wrapper">
<%- include("partials/header.ejs")%>
    <main>
        <br>
        <h2>About</h2>
        <br>
        <p>
            AngularJS was created with the purpose of allowing developers to create dynamic views in web-applications.This is done using the Model-View-Controller (MVC) architecture. Through the creation of modules and controllers, the developer can express website behavior in a clean and readable form, and output it to the view (the web page). Furthermore, through the use of Data Binding, the view can be automatically updated whenever the model changes, without the need of a page reload. AngularJS is chosen over other frameworks due to the simplicity of model creation, specifically not needing to inherit types in order to wrap a model in accessor methods, and being able to access models via plain html.
        </p>
        <div>
            <p>
            <h4>More information about AngularJS can be found here:</h4>
            </p>
            <a href="https://angularjs.org">AngularJS Official</a>
            <br>
            <a href="https://www.sitepoint.com/angular-introduction">Angular Introduction</a>
        </div>
    </main>
<%- include("partials/footer.ejs")%>
</div>
