<div id="wrapper">
<%- include("partials/header.ejs")%>
    <main>
        <br>
        <h2>Resources</h2>
        <br>
        <p>
            As with many programming concepts, Youtube proves itself as an invaluable learning resource.
            Below are two videos regarding AngularJS.
            The first is a great summary of AngularJS, and how it is different.
            JsWiz goes over what AngularJS is, why it is used, and how content is delivered to the web page.
        </p>
        <p>
            The second video is a tutorial by Derek Banas, a walk through of the creation of a simple AngularJS web application.
            He teaches users step by step on how to create modules and controllers, and explains their role and usages as he codes.
            In the first example, a simple calculation controller is created and defined in a div.
            The calculator takes data from input elements and outputs them through a button onclick call and the use of data-binding.
            The next example shows how different controllers can be used together.
            The remaining portion of the video walks through how to dynamically output html elements through things like loops, and change html them outright through events.
        </p>
        <div>
            <p><b>Video Links:</b></p>
            <a href="https://www.youtube.com/watch?v=WAZTZUgeLhQ">JsWiz: What is AngularJS</a>
            <br>
            <a href="https://www.youtube.com/watch?v=OPxeCiy0RdY">Derek Banas: AngularJS Tutorial</a>
            <img style="display: block;" src="/img/youtube_logo_small.png" alt="youtube logo"/>
        </div>
    </main>
<%- include("partials/footer.ejs")%>
</div>
