			<hr>
			<footer>
			<div>
				CST336 Internet Programming. 2021&copy; Deelane
				<br><br>
				<strong>Disclaimer:</strong> The information in this webpage is fictitious.
				<br>
				It is used for academic purposes only.
			</div>
			<figure>
				<img src="img/csumb_round_logo_small.png" alt="CSUMB logo"/>
			</figure>
		</footer>
	</body>
</html>